#tab1{

 border-collapse: collapse;
 width:100%;
 

}
tr:nth-child(even) {background-color: #f2f2f2;}

tr:hover{
          background-color: #deb887;
        }

th{
          padding-top: 20px;
          padding-bottom: 20px;
          text-align:left;
          color:white;
          background-color:#b22222;        
         }
td{
          padding-top: 8px;
          padding-right: 8px;
          padding-bottom: 8px;
          padding-left: 8px;
        }


 
      
   
