a{
display:block;
text-decoration:none;
padding-top:6px;
padding-bottom:6px;
padding-right:8px;
padding-left:16px;
color:white;

}

.sidenav a:hover {
  color: red;
}

.sidenav{
height:100%;
width:160px;
padding-top:20px;
background-color:green;
position:fixed;
top:0px;
left:0px;
}
.main{
height:2000px;
margin-left:160px;
padding-top:0px;
padding-bottom:0px;
padding-right:10px;
padding-left:10px;
}